/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/files/images/temp_images/*
!/storage/files/images/temp_images/.gitignore
/storage/files/images/*.png
/storage/files/images/*.jpg
/storage/files/images/*.jpeg
/storage/files/swagger/*.json
/storage/files/sep/*.json
/vendor
/public/vendor
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.composer
.DS_Store
/.scribe
/.scribe-admin
/.scribe-api
resources/views/scribe/index.blade.php
resources/views/scribe-admin/index.blade.php

**/caddy
!deployment/caddy/
/frankenphp
frankenphp-worker.php
